.top-menu-admin {
  .h3 {
    margin: auto;
    color: aliceblue;
  }
  &__logo {
    width: 250px;
    background-color: #f0d31b !important;
  }
  background-color: #f0d31b !important ;
  i.icon {
    margin: 0 !important;
  }
}
