.table-taller-admin {
  .circulo-rojo {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 0.3rem;
    font-size: 0.8rem;
    line-height: 1;
    position: relative;
    top: -1rem;
    right: 1rem;
  }
}
